.paragraph{
  margin: 20px;
  font-size: 16px;
}

.block{
  display:inline;
}

.block:after {
  content:"\a";
  white-space: pre;
}

.inline{
  display: inline-block;

}

.wait-for-type{
  font-weight: bold;
}

.typed-wrong{
  color: red;
}

.typed-correct{
  color: green;
}
